@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

$base-color: paleturquoise;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'sans-serif';
  width: 100%;
  height: 100%;
  color: white;
  // background-color: black;
}

#navbar{
  text-transform: uppercase;
  background-color: transparent;
  padding: 5px 2px;
  
  background-color: black;
  // #navDrop{
  //   background-color: black;
  //   .navbar-link:hover {
  //     background-color: black;
  //   }
  // }
  #logo{
    font-size: 40px;
  }
  .navbar-brand .navbar-item {
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: 3px 3px $base-color;
  font-weight: bold;
  height: 4rem;
  }
  .navbar-menu .navbar-end .navbar-item .navbar-link,  .navbar-brand .navbar-burger {
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 4rem;
  }

}


/* ---------------------------- */
/*  Welcome Page                */
/* ---------------------------- */

.title-page {
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    background-color: black;
    background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    display: flex;
    justify-content: flex-start;
    #right-panel{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      margin-left: 5%;
    }
    #scroll{
      transform: rotate(-90deg);
      position: absolute;
      top: 80%;
      left: 10%;
    }
    .my-title {
      font-family: 'Montserrat', 'sans-serif';
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 1rem;
      text-transform: uppercase;
      position: absolute;
      top: 45%;
      color: white;
      // margin-bottom: 50px;
      -webkit-text-stroke: 2px black;
      // text-shadow: 4px 4px $base-color;
      // color: white;
      // margin-top: 10px;
      // text-align: center;
    }

  .my-subtitle{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 2px black;
    // text-shadow: 3px 3px $base-color;
  }
    @media screen and (max-width: 700px) {
    .my-title {
      font-size: 28px;
      letter-spacing: 0.2rem;
      top: 50%;
    }
    .my-subtitle{
      font-size: 22px;
      letter-spacing: 0.2rem;
    }
  }
}


/* ---------------------------- */
/*  Projects Page               */
/* ---------------------------- */



#project-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100vh;
  .carousel {
    width: 50%;
    // height: 60vh;
    .carousel-inner{
      // width: 480px;
      height: 70vh;
      .carousel-item{
        // width: 100%;
        height: 80%;
        img {
          height: 100%;
        }
      }
    }
  }
  .modal .modal-content{
    width: 70%;
  .project-description{
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // width: 80%;
    align-items: flex-start;
    .project-subtitle{
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 5px 0px;
    }
    p{
      margin: 10px 0px; 
    }
    .link-box {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
}
  #project-title{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin: 20px 0 40px 0;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px $base-color;
    font-weight: bold;
  }
  #project-container{
    margin-top: 3%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    .project-box{
      display: flex;
      justify-content: center;
      position: relative;
      width: 45%;
      margin: 2%;
    .project-box:hover .overlay {
      opacity: 0.7;
    }
    .project-img{
      width: 100%;
      height: 100%;
      border: 2px solid white;
      // box-shadow: 4px 4px $base-color;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #git-box{
      background-color: $base-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 25px;
      color: white;
      #git-link{
      color: white;
      }
    }
    .text {
      color: white;
      font-weight: bold;
      height: 50%;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-transform: uppercase;
      .no-modal{
        display: none;
      }
      .text-title{
        font-weight: bold;
        color: white;
        font-size: 25px;
        -webkit-text-stroke: 2px black;
      }
      button{
        background-color: white;
        // border: 1px solid black;
        color: $base-color;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: bold;
      }
    }
  }
}


/* ---------------------------- */
/*  About Page                  */
/* ---------------------------- */

#about-page{
  height: 100vh;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  #about-title{
    font-size: 30px;
    // margin-bottom: 40px;
    text-transform: uppercase;
    color: black;
    // -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px $base-color;
    font-weight: bold;
  }
  #about-container{
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;
    color: black;
    align-items: center;
  #description-me{
    width: 400px;
  }
  #skills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
  }
  #grid{
    align-items: center;
    margin: 20px auto;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: 400px;
    i {
      //  color: white;
       width: 20%;
       height: 20%;
       flex-grow: 1;
       margin: 2%;
      }
  }
}
@media screen and (max-width: 700px) {
  #about-title{
    font-size: 25px;
  }
  #about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    #description-me{
      width: 80%;
    }
    #skills{
      margin-top: 20%;
      #skills-title {
        font-size: 20px;
        font-weight: bold;
      }
    }
    #grid{
      width: 80%;
    }
  }
}
}


/* ---------------------------- */
/*  Experience Page             */
/* ---------------------------- */

#experience-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
    #experience-title{
    font-size: 30px;
    text-transform: uppercase;
    // color: white;
    // -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px $base-color;
    font-weight: bold;
  }
  #experience-container{
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3%;
  }
  .experience-box{
    width: 30%;
    padding: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    .company{
      font-weight: bold;
      font-size: 20px;
      text-shadow: 3px 3px $base-color;
      font-weight: bold;
    }
    .job-dates{
      font-size: 18px;
      margin: 20px 0;
      font-weight: bold;
    }
    .job-title{
      font-size: 16px;
      margin: 20px 0;
      font-weight: bold;
    }
  }
  @media screen and (max-width: 700px) {
    #experience-container{
      flex-direction: column;
      justify-content: center;
      .experience-box{
        width: 100%;
      }
    }
  }
}

#contact-page{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  #contact-title{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin: 20px 0 40px 0;
    // -webkit-text-stroke: 2px black;
    // text-shadow: 3px 3px $base-color;
    font-weight: bold;
  }
 #contact-container{
   width: 60%;
   font-size: 40px;
   display: flex;
   justify-content: space-evenly;
   div a i {
     color: white;
   }
 }
}