@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'sans-serif';
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

#navbar{
  text-transform: uppercase;
  background-color: black;
  #navDrop{
    background-color: black;
    .navbar-link:hover {
      background-color: black;
    }
  }
  #logo{
    font-size: 25px;
  }
  .navbar-brand .navbar-item, .navbar-brand .navbar-burger {
  color:white;
  font-weight: bold;
  }
  .navbar-menu .navbar-end .navbar-item .navbar-link{
    color: white;
    font-weight: bold;
  }

}


/* ---------------------------- */
/*  Welcome Page                */
/* ---------------------------- */

.title-page {
    width: 100vw;
    height: 100vh;
    margin-bottom: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #title {
      font-family: 'Montserrat', 'sans-serif';
      font-size: 65px;
      font-weight: 700;
      letter-spacing: 1.5rem;
      color: white;
      margin-top: 10px;
      text-align: center;
    }

  #subtitle{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 0.5rem;
    text-align: center;
    margin-top: 2%;
  }
    @media screen and (max-width: 700px) {
    #title {
      font-size: 25px;
      letter-spacing: 0.2rem;
    }
    #subtitle{
      font-size: 18px;
      letter-spacing: 0.2rem;
    }
  }
}


/* ---------------------------- */
/*  Projects Page               */
/* ---------------------------- */

#project-page{
  // height: 250vh;
  padding-top: 15%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-evenly;
  #project-title{
    font-size: 30px;
    color: white;
    margin: 20px 0;
    text-transform: capitalize;
    font-weight: bold;
  }
  #project-container{
    margin-top: 5%;
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(#000, rgb(255, 255, 255), #000);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .project-box{
    display: flex;
    margin: 6% 1%;
    width: 100%;
    justify-content: space-evenly;
    color: white;
    .single-project-title{
      font-size: 25px;
      width: 400px;
    }
    .project-img{
      width: 400px;
    }
  }
  @media screen and (max-width: 700px) {
    // #project-page{
    //   height: 150vh;
    //   color: pink;
    // }
    #project-title{
      font-size: 20px;
    }
    .project-box{
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: space-evenly;
      .single-project-title{
        font-size: 12px;
        width: 50%;
      }
      .project-img{
        width: 50%;
      }
    }
  }
}

/* ---------------------------- */
/*  About Page                  */
/* ---------------------------- */

#about-page{
  // height: 100vh;
  padding-top: 15%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  #about-title{
    font-size: 30px;
    // margin-bottom: 40px;
    font-weight: bold;
  }
  #about-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    align-items: center;
  #description-me{
    width: 400px;
  }
  #skills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills-title{
    font-size: 25px;
  }
  #grid{
    align-items: center;
    margin: 20px auto;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: 400px;
    i {
       color: white;
       width: 20%;
       height: 20%;
       flex-grow: 1;
       margin: 2%;
      }
  }
}
@media screen and (max-width: 700px) {
  #about-title{
    font-size: 20px;
  }
  #about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    #description-me{
      width: 80%;
    }
    #skills{
      margin-top: 20%;
      #skills-title {
        font-size: 20px;
        font-weight: bold;
      }
    }
    #grid{
      width: 80%;
    }
  }
}
}


/* ---------------------------- */
/*  Experience Page             */
/* ---------------------------- */


#experience-page{
  // height: 100vh;
  padding-top: 5%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  #experience-title{
    font-size: 30px;
    font-weight: bold;
  }
  #experience-container{
    margin-top: 5%;
    width: 480px;
  .slide{
    background-color: black;
    border: 2px solid white;
    .slide-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .job-title{
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0 15px 0;
      }
      .job-dates{
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0;
      }
      .job-description{
        // text-align: center;
        width: 80%;
        font-size: 13px;
        margin: 15px;
        ul{
          list-style: circle;
        }
      }
    }
  }
  #button-box{
    display: flex;
    justify-content: center;
    margin-top: 10px;;
  }
  #slider-button-1, #slider-button-2 {
    background-color: black;
    color: white;
    border: none;
    font-size: 2rem;
    margin: 0 20px;
  }
  }
  @media screen and (max-width: 700px) {
    #experience-title{
      font-size: 20px;
    }
    #experience-container{
      width: 300px;
      .slide{
        background-color: black;
        border: 2px solid white;
        .slide-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          .job-title{
            font-size: 12px;
            font-weight: bold;
            margin: 10px 0;
          }
          .job-dates{
            font-size: 10px;
            font-weight: bold;
            margin: 5px 0;
          }
          .job-description{
            // text-align: center;
            width: 80%;
            font-size: 8px;
            margin: 5px;
          }
        }
    }
  }
}
}



