@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

$base-color: rgb(179, 240, 240);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'sans-serif';
  width: 100%;
  height: 100%;
  color: white;
  // background-color: black;
}

#navbar{
  text-transform: uppercase;
  background-color: rgb(179, 240, 240);
  padding: 0px 2px;
  
  // background-color: black;
  #navDrop{
    background-color: rgb(179, 240, 240);
    .navbar-link:hover {
      background-color: white;
    }
  }
  #logo{
    font-size: 40px;
  }
  .navbar-brand .navbar-item {
  text-transform: uppercase;
  // color: white;
  // -webkit-text-stroke: 2px black;
  color: black;
  text-shadow: 3px 3px white;
  font-weight: bold;
  height: 4rem;
  }
  .navbar-menu .navbar-end .navbar-item .navbar-link,  .navbar-brand .navbar-burger {

    color: black;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    height: 4rem;
  }

}


/* ---------------------------- */
/*  Welcome Page                */
/* ---------------------------- */

.title-page {
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    background-color: rgb(179, 240, 240);

    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    #right-panel{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      margin-left: 5%;
    }
    #scroll{
      transform: rotate(-90deg);
      position: absolute;
      top: 80%;
      left: 30%;
    }
    .my-title {
      font-family: 'Montserrat', 'sans-serif';
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 1rem;
      text-transform: uppercase;
      position: absolute;
      top: 45%;
      color:black;
      text-shadow: 3px 3px white;
      // -webkit-text-stroke: 2px black;
    }

  .my-subtitle{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color:black;
    text-shadow: 3px 3px white;
  }
    @media screen and (max-width: 700px) {
    .my-title {
      font-size: 30px;
      letter-spacing: 0.2rem;
      top: 50%;
    }
    .my-subtitle{
      font-size: 22px;
      letter-spacing: 0.2rem;
    }
  }
}


/* ---------------------------- */
/*  Projects Page               */
/* ---------------------------- */



#project-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-color;
  .carousel {
    width: 50%;
    margin: 30px 0;
    border: 2px solid black;
    box-shadow: 6px 8px rgb(81, 224, 224);
    // height: 60vh;
    .carousel-control-prev, .carousel-control-next {
      background-color: black;
      opacity: 0.3;
      width: 5%;
    }
    .read-more{
      font-family: 'Montserrat', 'sans-serif';
      font-weight: bold;
      font-size: 15px;
      box-shadow: 2px 2px rgb(81, 224, 224);

    }

    }
  .modal .modal-content{
    width: 70%;
  .project-description{
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // width: 80%;
    align-items: flex-start;
    .project-subtitle{
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 5px 0px;
    }
    p{
      margin: 10px 0px; 
    }
    .link-box {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
#project-title{
  font-size: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: black;
  text-shadow: 3px 3px white;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  #project-title{
    font-size: 28px;
  }
  .carousel{
   width: 100%;
  }
}
}



/* ---------------------------- */
/*  About Page                  */
/* ---------------------------- */

#about-page{

  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  #about-title{
    font-size: 30px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: black;
    text-shadow: 3px 3px $base-color;
    font-weight: bold;
  }
  #about-container{
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;
    color: black;
    align-items: center;
  #description-me{
    width: 480px;
    #intro{
      font-weight: bold;
      font-size: 18px;
    }
  }
  #skills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
  }
  #grid{
    align-items: center;
    margin: 20px auto;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: 400px;
    i {
      //  color: white;
       width: 20%;
       height: 20%;
       flex-grow: 1;
       margin: 2%;
      }
  }
}
@media screen and (max-width: 700px) {
  #about-title{
    font-size: 28px;
    // margin-bottom: 5%;
  }
  #about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    #description-me{
      width: 90%;
    }
    #skills{
      margin-top: 20%;
      #skills-title {
        font-size: 20px;
        font-weight: bold;
      }
    }
    #grid{
      width: 80%;
    }
  }
}
}


/* ---------------------------- */
/*  Experience Page             */
/* ---------------------------- */

#experience-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
    #experience-title{
    font-size: 30px;
    text-transform: uppercase;
    // color: white;
    // -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px $base-color;
    font-weight: bold;
  }
  #experience-container{
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3%;
  }
  .experience-box{
    width: 30%;
    padding: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    .company{
      font-weight: bold;
      font-size: 20px;
      // text-shadow: 3px 3px $base-color;
      font-weight: bold;
      text-transform: uppercase;
    }
    .job-dates{
      font-size: 18px;
      margin: 20px 0;
      font-weight: bold;
    }
    .job-title{
      font-size: 16px;
      margin: 20px 0;
      font-weight: bold;
    }
  }
  @media screen and (max-width: 700px) {
    #experience-title{
      font-size: 28px;
    }
    #experience-container{
      flex-direction: column;
      justify-content: center;
      .experience-box{
        width: 100%;
      }
    }
  }
}

#contact-page{
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  color: white;
  align-items: center;
  #contact-title{
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: black;
    text-shadow: 3px 3px white;
    font-weight: bold;
  }
 #contact-container{
   width: 60%;
   font-size: 40px;
   display: flex;
   justify-content: space-evenly;
   div a i {
     color: black;
     text-shadow: 3px 3px white;

   }
 }
}